    body{
        font-family: arial, sans-serif ;
        background-color: #38959c;
        text-align: center;
        padding: 40px;
    }

    h1{
        color: #000000;

    }

    p1{
        font-size: 20px;
    }

    button{
        padding: 10px, 20px;
        font-size: 18px;
        cursor: pointer;
        background-color: gray;
        color: white;
    }